:root {
  /* COLORS */
  --primary: #ff6a00;
  --secondary: #ff7a18;
  --accent: #ff6f14;

  --black: #000;
  --dark: #111;
  --text: #333;
  --text-light: #666;
  --text-muted: #787878;

  --white: #fff;
  --bg-main: #f6f6f6;
  --bg-section: #f4f4f4;
  --bg-soft: #f1f1f1;

  --border-light: rgba(0, 0, 0, 0.1);
  --border-soft: rgba(0, 0, 0, 0.08);

  /* SHADOW */
  --shadow-main: 0 4px 16px rgba(0, 0, 0, 0.06);
  --shadow-ring: 0 0 0 4px #fff;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-main);
  color: var(--text);
}