/* hero.css */
.hero-section {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  height: 524px;
  padding: 32px;
  max-width: 1400px;
  position: relative;
  top: 150px;
  margin-bottom: 150px;
  left: 175px;
  background: var(--gradient-hero);
  border-radius: 30px;
  border: 1px solid var(--border-medium);
  box-shadow: var(--shadow-white), var(--shadow-card);
  overflow: hidden;
}

.hero-content {
  width: 820px;
}

.available {
  display: inline-flex;
  align-items: center;
  background: var(--bg-white);
  padding: 8px 14px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 600;
  gap: 6px;
  border: 1px solid var(--border-subtle);
}

.available .geen {
  width: 8px;
  height: 8px;
  background: #00c950;
  border-radius: 50%;
}

.hero-content h1 {
  font-size: 54px;
  line-height: 1.2;
  font-weight: 600;
  margin: 30px 0;
  color: var(--text-black);
}

.hero-content h1 span {
  color: var(--text-orange);
}

.hero-content p {
  max-width: 650px;
  font-size: 15px;
  color: var(--text-gray);
  line-height: 1.5;
  margin-bottom: 20px;
}

.book-call-btn,
.project-btn {
  padding: 15px 20px;
  border-radius: 12px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: none;
  margin-right: 15px;
  transition: 0.2s;
  font-weight: 500;
}

.book-call-btn {
  background: var(--bg-dark);
  color: rgba(231, 226, 226, 0.855);
}

.book-call-btn:hover {
  opacity: 0.85;
}

.project-btn {
  background: var(--bg-white);
  border: 1px solid #ddd;
}

.project-btn .icon-box {
  color: rgba(0, 0, 0, 0.421);
}

.project-data,
.client-data,
.craft-data {
  display: inline-block;
  margin-right: 10px;
  margin-top: 50px;
  font-size: 20px;
  padding-right: 10px;
  font-weight: 700;
  border-right: 1px solid #ddd;
}

.data {
  width: 360px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.craft-data {
  border-right: none;
}

.project-data small,
.client-data small,
.craft-data small {
  display: block;
  font-size: 10px;
  color: var(--text-gray);
  font-weight: 300;
}

.hero-avtar {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 80px;
  right: 5px;
  height: 100%;
}

.brd {
  width: 1px;
  height: 100%;
  background: black;
}

.avtar {
  background: lab(70 41.33 57.68);
  padding: 20px;
  width: 250px;
  height: 250px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.avtar img {
  width: 280px;
  border-radius: 12px;
  position: absolute;
  bottom: -90px;
  right: -20px;
  border: 2px solid white;
}

.avtar-about {
  background: var(--bg-white);
  padding: 20px 20px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: var(--shadow-soft);
  width: 275px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: left;
}

.avtar-about h4 {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 600;
}

.avtar-about p {
  margin: 5px 0 15px;
  color: var(--text-light-gray);
  font-size: 15px;
}

.avtar-about a {
  color: var(--bg-dark);
  display: inline-flex;
  align-items: center;
}

.mail-icon .icon-box {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.512);
  transform: rotate(-30deg);
}