/* testimonial.css */
.testimonial-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
}

.testimonial-card {
  width: 840px;
  border-radius: 20px;
  padding: 40px 45px;
  position: relative;
  background: linear-gradient(to bottom, white, #f1f1f1);
  border: 1px solid var(--border-light);
  box-shadow: var(--shadow-white), var(--shadow-card);
}

.testimonial-title {
  font-size: 20px;
  font-weight: 600;
  color: #222;
  line-height: 1.4;
  margin-bottom: 18px;
}

.testimonial-contant {
  max-width: 600px;
}

.testimonial-text {
  font-size: 15px;
  color: #6b6b6b;
  line-height: 1.8;
}

.testimonial-user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 28px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #555;
}

.name {
  font-weight: 600;
  color: #222;
  font-size: 14px;
}

.role {
  font-size: 12px;
  color: #888;
}

.stars {
  position: absolute;
  bottom: 25px;
  right: 35px;
  display: flex;
  gap: 4px;
}

.stars svg {
  color: #fb2c36;
  font-size: 16px;
}

.quote-mark {
  position: absolute;
  right: 0px;
  top: -80px;
  font-size: 400px;
  color: rgba(0, 0, 0, 0.04);
  font-family: serif;
  pointer-events: none;
}

.slider-bar {
  width: 900px;
  margin-top: 18px;
  display: flex;
  position: relative;
  top: -8px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}

.dots {
  display: flex;
  gap: 6px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  top: -0px;
  background: #b4aeae;
  transition: 0.3s;
}

.testimonials-navigation {
  width: 800px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  bottom: -110px;
  border-radius: 20px;
  background: linear-gradient(to bottom, white, #f1f1f1);
  border: 1px solid var(--border-light);
  box-shadow: var(--shadow-white), var(--shadow-card);
}

.dot.active {
  width: 18px;
  border-radius: 20px;
  background: var(--text-orange-dark);
}

.arrows {
  display: flex;
  gap: 10px;
}

.arrows button {
  width: 38px;
  height: 38px;
  border-radius: 10px;
  border: 1px solid #fb923c;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
}

.arrows button:hover {
  background: #ffe9d6;
  border-color: var(--text-orange-dark);
}

.testimonial-header {
  text-align: center;
}

.testimonial-label {
  font-size: 12px;
  letter-spacing: 2px;
  color: #9aa0a6;
  margin-bottom: 20px;
}

.testimonial-heading {
  font-size: 44px;
  font-weight: 700;
  color: #111827;
  line-height: 1.3;
}

.testimonial-heading span {
  color: var(--text-orange-deep);
  font-style: italic;
}

.testimonial-subtext {
  margin-top: 15px;
  font-size: 16px;
  margin-bottom: 100px;
  color: var(--text-muted);
}