* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: 65px;
  padding: 0 24px;
  position: fixed;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 22px;
  z-index: 1;
  background: linear-gradient(to bottom, white, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.107);
  box-shadow:
    0 0 0 4px #fff,
    0 4px 16px rgba(0, 0, 0, 0.06);
}

.logo img {
  width: 80px;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: #787878;
  font-size: 14px;
  font-weight: 400;
  transition: 0.3s;
}

.links a:hover {
  color: black;
}

.btn button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  background-color: black;
  color: #f1f1f1;
  border: none;
  border-radius: 8px;
  font-size: 13px;
  transition: 0.3s;
}

.btn button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: 2px;
  opacity: 0.8;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  height: 524px;
  padding: 32px;
  max-width: 1400px;
  position: relative;
  top: 150px;
  margin-bottom: 150px;
  left: 175px;
  background: linear-gradient(
    135deg,
    lab(97 2.73 4.15) 0%,
    lab(100% 0.01 -0.01) 35%,
    lab(100% 0.01 -0.01) 70%,
    lab(96.88% 2.67 4.19 / 0.147) 100%
  );
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.301);
  box-shadow:
    0 0 0 4px #fff,
    0 4px 16px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

.hero-content {
  width: 820px;
}

.available {
  display: inline-flex;
  align-items: center;
  background: #fff;
  padding: 8px 14px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 600;
  gap: 6px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.available .geen {
  width: 8px;
  height: 8px;
  background: #00c950;
  border-radius: 50%;
}

.hero-content h1 {
  font-size: 54px;
  line-height: 1.2;
  font-weight: 600;
  margin: 30px 0;
  color: #000;
}

.hero-content h1 span {
  color: #ff6f14;
}

.hero-content p {
  max-width: 650px;
  font-size: 15px;
  color: #787878;
  line-height: 1.5;
  margin-bottom: 20px;
}

.book-call-btn,
.project-btn {
  padding: 15px 20px;
  border-radius: 12px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: none;
  margin-right: 15px;
  transition: 0.2s;
  font-weight: 500;
}

.book-call-btn {
  background: #000;
  color: rgba(231, 226, 226, 0.855);
}

.book-call-btn:hover {
  opacity: 0.85;
}

.project-btn {
  background: white;
  border: 1px solid #ddd;
}

.project-btn .icon-box {
  color: rgba(0, 0, 0, 0.421);
}

.project-data,
.client-data,
.craft-data {
  display: inline-block;
  margin-right: 10px;
  margin-top: 50px;
  font-size: 20px;
  padding-right: 10px;
  font-weight: 700;
  border-right: 1px solid #ddd;
}

.data {
  width: 360px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.craft-data {
  border-right: none;
}

.project-data small,
.client-data small,
.craft-data small {
  display: block;
  font-size: 10px;
  color: #787878;
  font-weight: 300;
}

.hero-avtar {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 80px;
  right: 5px;
  height: 100%;
}

.brd {
  width: 1px;
  height: 100%;
  background: black;
}

.avtar {
  background: lab(70 41.33 57.68);
  padding: 20px;
  width: 250px;
  height: 250px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.avtar img {
  width: 280px;
  border-radius: 12px;
  position: absolute;
  bottom: -90px;
  right: -20px;
  border: 2px solid white;
}

.avtar-about {
  background: white;
  padding: 20px 20px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);
  width: 275px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: left;
}

.avtar-about h4 {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 600;
}

.avtar-about p {
  margin: 5px 0 15px;
  color: #666;
  font-size: 15px;
}

.avtar-about a {
  color: #000;
  display: inline-flex;
  align-items: center;
}

.mail-icon .icon-box {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.512);
  transform: rotate(-30deg);
}
.tech-stack {
  width: 100%;
  padding: 60px 0; /* reduced from 100px */
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.stack-content p:first-child {
  color: #999999aa;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.stack-content h2 {
  color: lab(8 0.59 -12.28);
  font-size: 50px;
  font-weight: 700;
  margin: 24px 0;
}

.stack-content h2 span {
  color: lab(65 53.77 69.98);
}

.stack-content p:last-child {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
}

.stack-cards::before,
.stack-cards::after {
  content: "";
  position: absolute;
  top: 0;
  width: 120px;
  height: 100%;
  pointer-events: none;
  z-index: 5;
}

.stack-cards::before {
  left: 0;
  background: linear-gradient(to right, rgba(249, 249, 249, 0.545), #f9f9f900);
}

.stack-cards::after {
  right: 0;
  background: linear-gradient(to left, rgba(249, 249, 249, 0.544), #f9f9f900);
}

.stack-cards {
  margin-top: 50px;
  overflow: hidden;
  position: relative;
}

.track {
  display: flex;
  width: max-content;
  gap: 22px;
  padding: 20px 0;
  will-change: transform;
}

.track-left {
  animation: scroll-left 30s linear infinite;
}

.track-right {
  animation: scroll-right 30s linear infinite;
}

.track-left:hover {
  animation-play-state: paused;
}

.track-right:hover {
  animation-play-state: paused;
}

.card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 22px;
  border-radius: 18px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  background: linear-gradient(to bottom, white, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.107);
  box-shadow:
    0 0 0 4px #fff,
    0 4px 16px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease;
}

.card img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  display: block;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
/* SECTION */
.project-section {
  width: 100%;
  padding: 80px 0 100px;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
.project-content {
  max-width: 700px;
  text-align: center;
}

.project-content p:first-child {
  color: #9a9a9a;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.project-content h4 {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #111;
}

.project-content h4 span {
  color: #ff7a18;
  font-weight: 700;
}

.project-content p {
  color: #6b7280;
  font-size: 17px;
  line-height: 1.6;
}

/* 🔥 EACH PROJECT BOX */
.projects {
  width: 1160px;
  margin-top: 80px; /* spacing between projects */
  padding: 20px;
  border-radius: 28px;

  background: linear-gradient(to bottom, white, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow:
    0 0 0 4px #fff,
    0 4px 16px rgba(0, 0, 0, 0.06);
}

/* CARD */
.project1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 24px;
}

/* LEFT */
.project-details {
  width: 40%;
}

/* TAGS */
.node1,
.node2,
.node3 {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

/* COLORS */
.node1 {
  color: #ff6a00;
  border: 1px solid #ff6a00;
  background: rgba(255, 106, 0, 0.08);
}

.node2 {
  color: #00bfa6;
  border: 1px solid #00bfa6;
  background: rgba(0, 191, 166, 0.08);
}

.node3 {
  color: #4a8dff;
  border: 1px solid #4a8dff;
  background: rgba(74, 141, 255, 0.08);
}

/* TITLE */
.project-details h3 {
  font-size: 38px;
  margin-bottom: 18px;
  line-height: 1.2;
  color: #111;
}

/* DESCRIPTION */
.project-details p {
  color: #666;
  font-size: 16px;
  line-height: 1.7;
  max-width: 520px;
}

/* BUTTON */
.project-details button {
  width: 100%;
  margin-top: 35px;
  padding: 16px 26px;
  border-radius: 14px;
  border: 1px solid black;
  background: transparent;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
  transition: 0.3s;
}

.project-details button:hover {
  background: #111;
  color: #fff;
}

/* RIGHT */
.project-img {
  width: 60%;
  display: flex;
  justify-content: center;
}

/* IMAGE BOX */
.img-container {
  background-color: #ff8c42;
  padding: 40px;
  border-radius: 20px;
}

.img-container img {
  width: 480px;
  border-radius: 12px;
  display: block;
}
.view-more {
  margin-top: 60px;
  padding: 16px 32px;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.714);
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.view-more:hover {
  color: #ff6a00;
  border: 1px solid #ff6a00;
} /* ================= SECTION ================= */

.services-section {
  width: 100%;
  padding: 80px 0 100px;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ================= HEADER ================= */

.services-content {
  max-width: 600px;
  text-align: center;
}

.services-content p:first-child {
  color: #9a9a9a;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.services-content h4 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #111;
}

.services-content h4 span {
  color: #ff7a18;
  font-weight: 700;
}

.services-content p {
  color: #6b7280;
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 80px;
}

/* ================= CONTAINER ================= */

.services-container {
  width: 1100px;

  background: linear-gradient(to bottom, white, #f1f1f1);
  border-radius: 28px;

  border: 1px solid rgba(0, 0, 0, 0.107);
  box-shadow:
    0 0 0 4px #fff,
    0 4px 16px rgba(0, 0, 0, 0.06);

  overflow: hidden;
}

/* ================= ROW ================= */

.service-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);

  position: relative;
  overflow: hidden;

  transition: all 0.3s ease;
}

.service-row:last-child {
  border-bottom: none;
}

/* ================= LEFT ================= */

.service-left {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.icon-container {
  width: 50px;
  height: 50px;
  background: #0f172a;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-size: 20px;

  transition: all 0.3s ease;
}

.service-text h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #111827;
}

.service-text p {
  color: #6b7280;
  font-size: 15px;
  max-width: 500px;
  line-height: 1.6;
}

/* ================= RIGHT ================= */

.service-right {
  text-align: right;
  position: relative;
}

/* ================= TAGS (UPDATED EXACT STYLE) ================= */

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 10px;
}

.tags span {
  padding: 6px 14px;
  border-radius: 999px;

  font-size: 13px;
  font-weight: 500;
  color: #6b7280;

  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.06);

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  display: inline-flex;
  align-items: center;
  line-height: 1;

  transition: all 0.25s ease;
}

/* hover tags */
.service-row:hover .tags span {
  background: #fff;
  border-color: rgba(0, 0, 0, 0.08);
  color: #374151;
}

/* ================= BIG NUMBER ================= */

.service-number {
  position: absolute;
  right: -50px;
  bottom: -90px;

  font-size: 80px;
  font-weight: 700;

  color: rgba(0, 0, 0, 0.05);
  pointer-events: none;

  transition: all 0.3s ease;
}

/* ================= HOVER EFFECT ================= */

/* background */
.service-row:hover {
  background: rgba(0, 0, 0, 0.02);
}

/* LEFT ORANGE BORDER */
.service-row::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background: transparent;
  border-radius: 20px;
  transition: 0.3s;
}

.service-row:hover::before {
  background: #ff7a18;
}

/* ICON EFFECT */
.service-row:hover .icon-container {
  background: lab(64 53.13 69.31);
  color: #fff;

  transform: rotate(5deg);

  box-shadow:
    0 0 0 4px rgba(149, 144, 144, 0.3),
    0 4px 16px rgba(0, 0, 0, 0.06);
}
.tags {
  display: grid;
  text-align: left;
  align-items: last baseline;
  grid-template-columns: repeat(3, max-content);
  gap: 8px;
  justify-content: end;
}
/* BIG NUMBER MOVE + COLOR */
.service-row:hover .service-number {
  transform: translateX(-20px);
  right: -70px;
  bottom: -70px;
  opacity: 0.7;
  color: lab(64 53.13 69.31);
}
.about-section {
  width: 100%;
  padding: 80px 0 100px;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-header {
  max-width: 600px;
  text-align: center;
  margin-bottom: 50px;
}

.about-header p:first-child {
  color: #9a9a9a;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.about-header h4 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #111;
}

.about-header h4 span {
  color: #ff7a18;
  font-weight: 700;
}

.about-header p {
  color: #6b7280;
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 80px;
}
.about-section {
  width: 100%;
  padding: 90px 20px;
  display: flex;
  justify-content: center;
  background: #f5f5f5;
}

.about-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  gap: 60px;
  background: white;
  padding: 60px;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.107);
  box-shadow:
    0 0 0 4px #fff,
    0 4px 16px rgba(0, 0, 0, 0.06);
}
/* LEFT */
.about-left {
  flex: 2;
}

.about-text {
  font-size: 18px;
  line-height: 1.6;
  color: #444;
  font-weight: 500;
  margin-bottom: 18px;
}

.about-text span {
  font-weight: 700;
  color: #111;
}

.about-text strong {
  color: #111;
}

.muted {
  color: #666;
}

.highlight-quote {
  border-left: 3px solid #ff6a3d;
  padding-left: 15px;
  margin: 20px 0;
  font-style: italic;
  color: #ff6a3d;
  font-weight: 500;
}

.cta-btn {
  margin-top: 20px;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  padding: 16px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 400;
  margin-right: 15px;
}
.cta-btn:hover{
cursor: pointer;

}

/* RIGHT */
.about-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* STATS GRID */
.stats-grid {
  display: grid;
  min-width: 145px;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.about-links {
  position: relative;
  right: -5%;
  bottom: 50px;
}
.about-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.about-icon {
  font-size: 18px;
  padding: 10px 15px;
  opacity: 0.8;
  color: rgb(79, 78, 78);
  border-radius: 8px;
  border: 1px solid rgba(133, 132, 132, 0.23);
}
.about-icon:hover{
  color:lab(65 53.77 69.98) ;
  border-color: lab(65 53.77 69.98);
cursor: pointer;
}
.work-icon {
  font-size: 10px;
  padding: 6px;
}
.stat-card {
  background: #fff;
  padding: 18px;
  margin-right: 5px;
  border-radius: 16px;
  text-align: left;
  max-width: 160px;
}

.stat-card h2 {
  font-size: 28px;
  margin-bottom: 5px;
  color: #111;
}

.stat-card p {
  font-size: 12px;
  font-weight: 400;
  color: #666;
}

/* SIDE BOX */
.side-box {
  background: #fff7f3;
  padding: 20px;
  max-width: 300px;
  border-radius: 18px;
  border: 1px solid rgba(255, 106, 61, 0.2);
}

.side-box h4 {
  font-size: 12px;
  letter-spacing: 1px;
  color: #ff6a3d;
  margin-bottom: 15px;
}

.side-item {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}

.side-item span {
  font-size: 18px;
}

.side-item h5 {
  margin: 0;
  font-size: 14px;
  color: #111;
}

.side-item p {
  margin: 0;
  font-size: 12px;
  color: #666;
  line-height: 1.4;
}
.process-section {
  width: 100%;
  padding: 100px 20px;
  display: flex;
  background-color: #f4f4f4;
  justify-content: center;
}

.process-wrapper {
  max-width: 1100px;
  width: 100%;
  text-align: center;
}

.process-label {
  font-size: 12px;
  letter-spacing: 2px;
  color: #9aa0a6;
  margin-bottom: 20px;
}



.process-heading {
  font-size: 44px;
  font-weight: 700;
  color: #111827;
  line-height: 1.3;
}

.process-heading span {
  color: #f97316;
  font-style: italic;
}

.process-subtext {
  margin-top: 15px;
  font-size: 16px;
  color: #6b7280;
}

.process-grid {
  margin-top: 60px;
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.process-card {
  width: 350px;
  border-radius: 20px;
  padding: 30px;
  text-align: left;
  position: relative;
  overflow: hidden;

  background: linear-gradient(to bottom, white, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.107);
  box-shadow:
    0 0 0 4px #fff,
    0 4px 16px rgba(0, 0, 0, 0.06);
}

.process-card:hover .process-badge {
  color: #ff6f14;
  border-color: #ff6f14;
}
.process-card:hover .card-icon {
  color: #ff6f14;
  border-color: #ff6f14;
  opacity: 0.8;
}

.process-badge {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9ca3af;
  font-weight: 600;
  margin-bottom: 20px;
}

.process-card h3 {
  font-size: 20px;
  color: #111827;
  margin-bottom: 10px;
}

.process-desc {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 50px;
}

.process-card ul {
  list-style: none;
  padding: 0;
}

.process-card ul li {
  font-size: 14px;
  color: #4b5563;
  margin-bottom: 10px;
  position: relative;
  padding-left: 18px;
}

.process-card ul li::before {
  content: "";
  width: 6px;
  height: 6px;
  background: #d1d5db;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 8px;
}

/* ===== ICON STYLING ===== */

.card-icon {
  font-size: 150px;
  font-weight: 200;
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 140px;
  height: 140px;
  opacity: 0.05;
}

/* Different icons */
.contact-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  
}

.contact-card {
  width: 1160px;
  height: 475px;
  border-radius: 28px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 20px 40px rgba(0,0,0,0.05);
  position: relative;
top: 100px;
  text-align: center;
  padding: 40px 20px;
  overflow: hidden;
  
  background: linear-gradient(to bottom, white, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.107);
  box-shadow:
    0 0 0 4px #fff,
    0 4px 16px rgba(0, 0, 0, 0.06);
}

/* Badge */
.contact-badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 50px;
  border: 1px solid #e2e2e2;
  font-size: 14px;
  color: #6b6b6b;
}

.contact-badge .dot {
  width: 8px;
  height: 8px;
  background: #22c55e;
  border-radius: 50%;
}

/* Heading */
.contact-heading {
  text-align: center;
  left: 290px;
  position: relative;
  max-width: 500px;
  font-size: 36px;
  font-weight: 600;
  color: #111;
  margin: 25px;
  line-height: 1.4;
}

.contact-heading span {
  color: #ff6a00;
  font-style: italic;
  font-weight: 600;
}

/* Email */
.contact-email {
  margin-top: 12px;
  color: #777;
  font-size: 15px;
}

/* Icons */
.contact-icons {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 20px;
}

.contact-icons a {
  width: 42px;
  height: 42px;
  border-radius: 12px;
  border: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6b6b6b;
  font-size: 16px;
  transition: all 0.3s ease;
}

.contact-icons a:hover {
  background: #ff6a00;
  border-color:#ff6a00;
}

/* Background big text */
.contact-bg-text {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 150px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.04);
  pointer-events: none;
  user-select: none;
}

/* Footer */
.contact-footer {
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  color: #9a9a9a;
}
.contact-card::after {
  content: "";
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  
  width: 800px;
  height: 200px;

  background: radial-gradient(
    circle,
    rgba(255, 106, 0, 0.059) 0%,
    rgba(255, 106, 0, 0.15) 40%,
    rgba(255, 106, 0, 0) 70%
  );

  filter: blur(80px);
  z-index: 0;
}
















/* Wrapper */
.contactme-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}

/* Card */
.contactme-card {
  width: 100%;
  max-width: 860px;
  border-radius: 18px;
  padding: 42px;
  background: linear-gradient(to bottom, white, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.107);
  box-shadow:
    0 0 0 4px #fff,
    0 4px 16px rgba(0, 0, 0, 0.06);
}
.contactme-card .contact-icons{
  position: relative;
  left: -37%;
}
/* Badge */
.contactme-badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #e7f9ef;
  color: #16a34a;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 13px;
  margin-bottom: 18px;
}

.contactme-dot {
  width: 8px;
  height: 8px;
  background: #22c55e;
  border-radius: 50%;
}

/* Title */
.contactme-title {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.25;
  color: #111827;
  margin: 0;
}

.contactme-title span {
  color: #f97316;
  font-style: italic;
}

.contactme-subtitle {
  margin-top: 12px;
  margin-bottom: 26px;
  color: #6b7280;
  font-size: 15px;
}

/* Buttons */
.contactme-actions {
  display: flex;
  gap: 18px;
  margin-bottom: 32px;
}

.contactme-btn {
  flex: 1;
  height: 60px;
  padding: 0 16px;
  border-radius: 14px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  border: 1px solid;
}
hr{
  margin-top: 20px;
}

/* Blue Button */
.contactme-btn-blue {
  background: #eff6ff;
  border-color: #3b82f6;
  color: #2563eb;
}

/* Orange Button */
.contactme-btn-orange {
  background: #fff7ed;
  border-color: #fb923c;
  color: #ea580c;
}

.contactme-emailbox {
  display: flex;
  flex-direction: column;
}

.contactme-emailbox span {
  font-size: 12px;
  color: #9a3412;
}

/* Form */
.contactme-row {
  display: flex;
  gap: 18px;
}

.contactme-field {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.contactme-field label {
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #6b7280;
}

.contactme-field input,
.contactme-field select,
.contactme-field textarea {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  background: #f9fafb;
  font-size: 14px;
  outline: none;
}

.contactme-field textarea {
  height: 130px;
  resize: none;
}

/* Footer */
.contactme-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.contactme-footer p {
  font-size: 13px;
  color: #6b7280;
}

.contactme-submit {
  background: #111827;
  color: #fff;
  border: none;
  padding: 12px 22px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
}
.contactme-btn-blue {
  transition: all 0.25s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(106, 106, 106, 0.25);
  filter: brightness(1.05);
}
.contactme-btn-orange {
  transition: all 0.25s ease;
}

.contactme-btn-orange:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(251, 146, 60, 0.25);
  filter: brightness(1.05);
}
.contactme-field input:focus,
.contactme-field select:focus,
.contactme-field textarea:focus {
  outline: none;
  border-color: #f97316;
  box-shadow: 0 0 0 4px rgba(249, 115, 22, 0.15);
  background: #ffffff;
  transition: all 0.2s ease;
}
/* Wrapper spacing */
.contactme-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  
}

/* HEADER SECTION */
.contactme-header {
  text-align: center;
  max-width: 700px;
  margin-bottom: 50px;
}

/* CONTACT label */
.contactme-eyebrow {
  font-size: 12px;
  letter-spacing: 2px;
  color: #94a3b8;
  font-weight: 600;
  margin-bottom: 16px;
}

/* MAIN TITLE */
.contactme-main-title {
  font-size: 48px;
  font-weight: 700;
  color: #0f172a;
  line-height: 1.2;
  margin-bottom: 18px;
}

/* Highlight word */
.contactme-main-title span {
  color: #f97316;
  font-style: italic;
}

/* Subtitle */
.contactme-description {
  font-size: 16px;
  color: #64748b;
  line-height: 1.6;
}







/* SECTION WRAPPER */
.testimonial-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
}

/* CARD */
.testimonial-card {
  width: 840px;
  border-radius: 20px;
  padding: 40px 45px;
  position: relative;
  
  background: linear-gradient(to bottom, white, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.107);
  box-shadow:
    0 0 0 4px #fff,
    0 4px 16px rgba(0, 0, 0, 0.06);
}

/* TITLE */
.testimonial-title {
  font-size: 20px;
  font-weight: 600;
  color: #222;
  line-height: 1.4;
  margin-bottom: 18px;
}
.testimonial-contant{
  max-width: 600px;
}
/* TEXT */
.testimonial-text {
  font-size: 15px;
  color: #6b6b6b;
  line-height: 1.8;
}

/* USER */
.testimonial-user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 28px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #555;
}

.name {
  font-weight: 600;
  color: #222;
  font-size: 14px;
}

.role {
  font-size: 12px;
  color: #888;
}

/* STARS */
.stars {
  position: absolute;
  bottom: 25px;
  right: 35px;
  display: flex;
  gap: 4px;
}

.stars svg {
  color: #fb2c36;
  font-size: 16px;
}

/* QUOTE MARK */
.quote-mark {
  position: absolute;
  right: 0px;
  top: -80px;
  font-size: 400px;
  color: rgba(0, 0, 0, 0.04);
  font-family: serif;
  pointer-events: none;
}

/* SLIDER BAR */
.slider-bar {
  width: 900px;
  margin-top: 18px;
  display: flex;
   position: relative;
  top: -8px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}

/* DOTS */
.dots {
  display: flex;
  gap: 6px;

}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  top: -0px;
  background: #b4aeae;
  transition: 0.3s;
}
.testimonials-navigation{
  width: 800px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center ;
  position: relative;
  padding: 10px;
  bottom: -110px;
  border-radius: 20px;
  background: linear-gradient(to bottom, white, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.107);
  box-shadow:
    0 0 0 4px #fff,
    0 4px 16px rgba(0, 0, 0, 0.06);
}
.dot.active {
  width: 18px;
  border-radius: 20px;
  background: #ff7a00;
}

/* ARROWS */
.arrows {
  display: flex;
  gap: 10px;
}

.arrows button {
  width: 38px;
  height: 38px;
  border-radius: 10px;
  border: 1px solid #fb923c;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
}

.arrows button:hover {
  background: #ffe9d6;
  border-color: #ff7a00;
}
.testimonial-header{
  text-align: center;
}

.testimonial-label {
  font-size: 12px;
  letter-spacing: 2px;
  color: #9aa0a6;
  margin-bottom: 20px;
}



.testimonial-heading {
  font-size: 44px;
  font-weight: 700;
  color: #111827;
  line-height: 1.3;
}

.testimonial-heading span {
  color: #f97316;
  font-style: italic;
}

.testimonial-subtext {
  margin-top: 15px;
  font-size: 16px;
  margin-bottom: 100px;
  color: #6b7280;
}
